::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    display: none;
}

canvas {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: sans-serif;
    font-size: 14px;
}

#parentDiv {
    position: relative;
}

.score {
    position: absolute;
    z-index: 10;
    color: #ffffff;
    margin-left: 10px;
    top: 10px;
    display: none;
}

.container {
    text-align: center;
}

#startMenu,
#endGameMenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/startScreenBackground.png')  no-repeat;
    background-size: contain;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startButton,
#restartButton {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.title {
    color: white;
}

#endGameMenu {
    display: none;
}
